* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
main {
  display: flex;
  width: 45vw;
  height: 30em;
  min-width: 700px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  flex-direction: row;
}

.left-img {
  flex: 50%;
}
.left-img img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-position: center;
}
.right-info {
  flex: 50%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: left;
  margin-top: 2em;
}
.title-kind {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.35em;
}

.right-info h1 {
  text-align: left;
  font-family: "Fraunces", serif;
  font-weight: 700;
  padding-top: 0.5em;
  font-size: 2.8em;
  line-height: 1em;
}

.right-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  text-align: left;
  width: 19em;
  padding-top: 2em;
  word-spacing: 0.5em;
  line-height: 1.5em;
}
.price {
  position: relative;
  padding-top: 1em;
  align-content: center;
}

.price .price-now {
  display: inline-block;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2em;
  color: hsl(158, 36%, 37%);
}
.price .old-price {
  position: absolute;
  display: inline-block;
  margin-left: 1.3em;
  color: hsl(228, 12%, 48%);
  top: 1.7em;
}
.button-card {
  position: relative;
  border-radius: 14px;
  margin: 1.8em auto;
  width: 18em;
  padding: 1em 1em;
  text-align: center;
  background-color: hsl(158, 36%, 37%);
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  font-family: "Montserrat", sans-serif;
}

.button-card::before {
  position: absolute;
  left: 3em;
  content: url(/images/icon-cart.svg);
  margin-left: 1.4em;
  /* background-image: url(/images/icon-cart.svg); */
}

.button-card:hover {
  background-color: hsl(158, 34%, 21%);
}
